@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #090909;
}
.main {
	position: absolute;
	width: 100%;
	height: 100%;
}

.loader-container
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #0b0b0b53;
	backdrop-filter: blur(15px);
}

#loader
{
	border-top: 2px solid #ff0062;
	border-bottom: 2px solid #ff0062;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 45%;
	padding-right: 45%;
	width: 10%;
	height: 10%;
	z-index: 9999;
	background: #0000003e;
	filter: drop-shadow(#ff0062 0 0 5px);
}

.menu {
	display: flex;
	justify-content: space-between;
	align-self: center;
	align-content: center;
	align-items: center;
	padding: 20px;
	background-color: #1a1a1a77;
	position: fixed;
	top: 10%;
	right: 0;
	z-index: 999;
	width: 50%;
	border-top: .25px solid white;
	border-left: .25px solid white;
	border-bottom: .25px solid white;
	box-shadow: 0 0 10px #f2f2f229;
	filter: drop-shadow(#f2f2f2a1 0 0 10px);
	border-radius: 5px 0 0 5px;
	transition: all 0.2s ease-in-out;
}

.menu:hover
{
	width: 55%;
	background-color: #1a1a1aa6;
	border-top: 1px solid #ff0062;
	border-left: 1px solid #ff0062;
	border-bottom: 1px solid #ff0062;
	box-shadow: 0 0 10px #ff006229;
	filter: drop-shadow(#ff0062a1 0 0 10px);
}

.logo img {
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	filter: drop-shadow(#ff0062a3 0 0 30px);
}

.menu-items ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-items li {
	margin: 0 20px;
}

.menu-items a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
	padding: 10px;
	border-radius: 5px;
	width: 10%;
	font-family: 'Oxanium', sans-serif;
}

.menu-items a:hover {
	width: 50%;
	color: #ff0062;
	border: #ff0062 .5px solid;
	text-shadow: #ff0062 0 0 10px;
	background-color: #00000074;
	padding: 5px 10px 5px 10px;
}

.menu-social ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-social li {
	margin: 0 10px;
}

.menu-social a {
	color: #fff;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.menu-social a:hover {
	color: #ff0062;
	text-shadow: #ff0062 0 0 10px;
	font-size: 25px;
}

/* FIRST STRIPE */

.str-1 {
	position: relative;
	width: 100%;
	height: max-content;
	background-color: rgba(56, 56, 56, 0.547);
	top: 40%;
	padding-top: 5px;
	padding-bottom: 20px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	backdrop-filter: blur(3px);
	box-shadow: 0 0 55px #ffffff59;
}

.str-1-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-title-1 {
	font-size: 3em;
	font-weight: 600;
	color: #fff;
	margin-left: 1%;
	text-shadow: #000000c5 0 0 20px;
	font-family: 'Oxanium', sans-serif;
}

.quotation {
	margin: 35px;
	font-size: 2em;
	color: #fff;
	font-family: 'Oxanium', sans-serif;
	font-weight: 200 !important;
	margin-left: 1%;
	text-shadow: #000000c5 0 0 20px;
}

.content-subtitle-1 {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	text-shadow: #ff0062 0 0 10px;
	font-family: 'Oxanium', sans-serif;
}

.content-buttons-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.content-button-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff006230;
	border: .25px solid #ff006230;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	transition: all 0.2s ease-in-out;
	font-family: 'Oxanium', sans-serif;
	width: 10%;
	height: auto;
	word-wrap: break-word;
	white-space: normal;
}
.content-button-1:hover {
	width: 50%;
	color: black;
	text-shadow: black 0 0 10px;
	cursor: pointer;
	background-color: #ff0062;
	border: 2.5px solid black;
	text-shadow: #ff0062 0 0 10px;
	box-shadow: 0 0 30px black;
}

